@import url('https://fonts.googleapis.com/css?family=Nunito|Lobster|Muli:800');

body {
  margin-bottom: 70px;
  background-color: #EFEFEF;
  font-family: 'Nunito', sans-serif;
  color: #505050;
  padding-top: 70px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px;
  line-height: 40px;
  background-color: #F5F5F5;
}

table {
  background-color: white;
}

th {
  background-color: #293744;
  opacity: 0.80;
  color: white;
  cursor: pointer;
}

input, select, textarea {
  box-shadow: none !important;
}

.navbar-default {
  background-color: #293744;
  border: 0;
  border-radius: 0;
}

.navbar-default .navbar-brand {
  font-family: 'Lobster', sans-serif;
  color: white;
  cursor: default;
}

.navbar-default .navbar-brand:hover {
  color: white;
}

.navbar-default .navbar-nav > li > a {
  color: white;
}

.navbar-toggle {
  border: 0;
  color: white;
}

.navbar-toggle:focus {
  background-color: rgba(0,0,0,0) !important;
}

.navbar-toggle:hover  {
  background-color: #293744 !important;
}

.navbar-nav > li > a:focus, .navbar-nav > li > a:hover {
  background-color: #1CC09E !important;
  color: white !important;
}

.dropdown-menu {
  background-color: #293744 !important;
  border: 0;
  border-radius: 0;
}

.dropdown-menu > li > a {
  color: white !important;
}

.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
  background-color: #1CC09E !important;
  color: white !important;
}

.icon-bar {
  background-color: white !important;
}

.nav-tabs > li > a {
  border-radius: 0;
  color: #848484;
}

.jumbotron {
  background-color: white;
  font-size: 16px;
}

.jumbotron p {
  font-size: 22px;
  font-weight: 800;
}

.jumbotron ul {
  padding-left: 30px;
  list-style: square;
}

.breadcrumb {
  background-color: white;
  border-radius: 0;
  padding: 0;
}

.breadcrumb form {
  padding: 10px;
}

.breadcrumb hr {
  margin-top: 5px;
}

.btn {
  border-radius: 0;
}

.btn-success {
  background-color: #1CC09E;
  border: 0;
}

.btn-success:hover, .btn-success:focus, .btn-success:active:focus {
  background-color: #6AD7C2;
}

.modal-content {
  background-color: rgba(0,0,0,0);
}

.modal-header {
  background-color: #293744;
  color: white;
  opacity: 0.95;
  padding-bottom: 10px;
}

.modal-header .close {
  opacity: 1;
  color: white;
}

.modal-body {
  background-color: white;
}

.modal-footer {
  background-color: #EFEFEF;
}

.form-control {
  border-radius: 0;
}

.form-inline {
  display: block;
}

.form-inline input {
  width: 49% !important;
  float: left;
  margin-right: 1%;
  margin-bottom: 10px;
}

.carregando {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

.carregando span {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.3;
}

.carregando img {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -32px;
  margin-left: -32px;
  opacity: 0.9;
}

.titulo {
  font-family: 'Muli', sans-serif;
  font-size: 20px;
  font-weight: 800;
  color: #808080;
  text-shadow: 0px 2px 3px #EFEFEF;
}

.titulo:before {
  content: '\2022  ';
}

.notificacao {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 9999;
  max-width: 350px;
  opacity: 1;
  transition: opacity 0.2s linear;
}

.notificacao.ng-hide {
  opacity: 0;
}

.notificacao .alert {
  border-radius: 0;
}

.notificacao .alert-success {
  background-color: #1CC09E;
  border: 0;
  color: white;
  opacity: 0.98;
}

.notificacao .alert-warning {
  background-color: #CE4844;
  border: 0;
  color: white;
  opacity: 0.98;
}

.notificacao span {
  font-size: 20px;
}

.notificacao strong {
  text-transform: uppercase;
  margin: 5px;
}

.notificacao p {
  min-width: 300px;
}

.notificacao .close {
  position: fixed;
  top: 20px;
  right: 20px;
  opacity: 1;
  color: white;
}

.caret-direito {
  position: absolute;
  top:10px;
  right: 10px;
}

.confirmacao {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 9990;
}

.confirmacao span {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.7;
}

.confirmacao article {
  --width: 300px;
  --height: 150px;
  position: absolute;
  top: calc(50% - (var(--height) / 2));
  left: calc(50% - (var(--width) / 2));
  width: var(--width);
  height: var(--height);
  background-color: white;
  box-shadow: 0 5px 15px rgba(0,0,0,.5);
}

.confirmacao h4 {
  display: inline-block;
  width: 100%;
  height: 100px;
  padding: 10px;
  text-align: center;
}

.confirmacao div {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 10px;
  text-align: right;
  border-top: 1px solid #BBBBBB;
  background-color: #EEEEEE;
}

#tela hr {
  border-top: 1px solid #808080;
  opacity: 0.4;
}

#busca-responsiva {
  position: fixed;
  top: 50px;
  left: 0;
  width: 100%;
  height: 50px;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  background-color: #293744;
  z-index: 10;
}
