.carregando {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
}
.carregando span {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.3;
}
.carregando img {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -25px;
  margin-left: -25px;
}

body {
  margin-bottom: 70px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #f5f5f5;
}

.notificacao {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 9999;
  opacity: 1;
  transition: opacity 0.2s linear;
}

.notificacao.ng-hide {
  opacity: 0;
}

.notificacao span {
  font-size: 20px;
}

.notificacao strong {
  text-transform: uppercase;
  margin: 5px;
}

.notificacao p {
  min-width: 300px;
}

.notificacao .close {
  position: fixed;
  top: 20px;
  right: 20px;
}
