<div id="modal-filtros" class="modal fade" tabindex="-1" role="dialog" ng-if="model.filtros.ativo">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form ng-submit="listar()">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">{{model.filtros.titulo}}</h4>
        </div>
        <div class="modal-body">
          <br>
          <table class="table table-bordered table-striped table-hover">
            <tr>
              <th>Filtrar</th>
              <th>Campo</th>
            </tr>
            <tr ng-repeat="filtro in view.filtros">
              <td>
                <input type="checkbox" ng-model="filtro.filtrar">
              </td>
              <td>
                <span ng-switch="filtro.campo.tipo">
                  <span ng-switch-when="select">
                    <select class="form-control" ng-model="filtro.valor" ng-options="item as descricao(item, filtro.campo) for item in view[filtro.campo.lista] track by item.id">
                      <option value="" disabled>{{filtro.campo.nome}}</option>
                    </select>
                  </span>
                  <span ng-switch-when="checkbox">
                    <select class="form-control" ng-model="filtro.valor">
                      <option value="" disabled>{{filtro.campo.nome}}</option>
                      <option ng-value="filtro.campo.verdadeiro[0]">{{filtro.campo.verdadeiro[1]}}</option>
                      <option ng-value="filtro.campo.falso[0]">{{filtro.campo.falso[1]}}</option>
                    </select>
                  </span>
                </span>
              </td>
            </tr>
          </table>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-success">OK</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        </div>
      </form>
    </div>
  </div>
</div>
