<section id="tela" class="container-fluid" ng-controller="genericController" ng-init="iniciar()">
  <article ng-if="carregado">

    <!--CAMPO BUSCA NO CELULAR-->
    <div id="busca-responsiva" ng-hide="!botoes.busca">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="{{model.busca.texto}}" ng-model="view.pesquisa" ng-change=listar()>
        <span class="input-group-btn">
          <button class="btn btn-default" type="button" ng-click="listar()">
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </span>
      </div>
    </div>

    <!--TITULO-->
    <div class="row hidden-xs">
      <div class="col-xs-7 col-sm-8 col-md-3 col-lg-4">
        <h4 class="titulo">{{model.titulo}}</h4>
      </div>

      <!--BOTOES NOVO E IMPRIMIR TELAS MENORES-->
      <div class="col-xs-5 col-sm-4 hidden-md hidden-lg text-right" ng-hide="!model.novo.ativo">
        <button class="btn btn-success" type="button" ng-click="editar(model.novo.objeto)">
          <span class="glyphicon glyphicon-plus"></span>
          &nbsp;{{model.novo.texto}}
        </button>
        <button class="btn btn-success" type="button" ng-hide="!model.imprimir.ativo" ng-click="imprimir()">
          <span class="glyphicon glyphicon-print"></span>
          &nbsp;{{model.imprimir.texto}}
        </button>
      </div>

      <!--CAMPO DE BUSCA-->
      <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5" ng-hide="!model.busca.ativo">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="{{model.busca.texto}}" ng-model="view.pesquisa" ng-change="listar()" ng-model-options="{debounce:500}">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button"ng-if="model.filtros.ativo" data-toggle="modal" data-target="#modal-filtros">
              <span class="glyphicon glyphicon-filter"></span>
            </button>
            <button class="btn btn-default" type="button" ng-click="listar()">
              <span class="glyphicon glyphicon-search"></span>
              &nbsp;Procurar
            </button>
          </span>
        </div>
      </div>

      <!--BOTOES NOVO E IMPRIMIR TELAS GRANDES-->
      <div class="hidden-xs hidden-sm col-md-4 col-lg-3 text-right">
        <button class="btn btn-success" type="button" ng-hide="!model.novo.ativo" ng-click="editar(model.novo.objeto)">
          <span class="glyphicon glyphicon-plus"></span>
          &nbsp;{{model.novo.texto}}
        </button>
        <button class="btn btn-success" type="button" ng-hide="!model.imprimir.ativo" ng-click="imprimir()">
          <span class="glyphicon glyphicon-print"></span>
          &nbsp;{{model.imprimir.texto}}
        </button>
      </div>
    </div>
    <div class="row hidden-xs">
      <div class="col-xs-12">
        <hr />
      </div>
    </div>

    <!--TABELA DE REGISTROS-->
    <div class="row">
      <div class="col-md-12 table-responsive">
        <table class="table table-bordered table-striped table-hover">
          <tr>
            <th width="110" ng-if="model.editar || model.excluir">Ações</th>
            <th ng-repeat="atual in model.campos | filter:{listar:true}" ng-click="ordenar(atual.campo)">
              {{atual.nome}}
              <span ng-if="ordenacao.campo==atual.campo && ordenacao.ordem" class="glyphicon glyphicon-chevron-up"></span>
              <span ng-if="ordenacao.campo==atual.campo && !ordenacao.ordem" class="glyphicon glyphicon-chevron-down"></span>
            </th>
          </tr>
          <tr ng-repeat="linha in view.registros">
            <td align="center" ng-if="model.editar || model.excluir">
              <button class="btn btn-default" type="button" ng-click="excluir(linha[model.chave])" ng-if="model.excluir">
                <span class="glyphicon glyphicon-remove"></span>
              </button>
              <button class="btn btn-default" type="button" ng-click="editar(linha)" ng-if="model.editar">
                <span class="glyphicon glyphicon-pencil"></span>
              </button>
            </td>
            <td ng-repeat="atual in model.campos | filter:{listar:true}">
              <span ng-switch="atual.tipo">
                <span ng-switch-when="email"><a ng-href="mailto:{{linha[atual.campo]}}">{{linha[atual.campo]}}</a></span>
                <span ng-switch-when="date">{{linha[atual.campo] | date:atual.formato}}</span>
                <span ng-switch-when="datetime">{{linha[atual.campo] | date:atual.formato}}</span>
                <span ng-switch-when="checkbox">{{linha[atual.campo] == atual.verdadeiro[0]? atual.verdadeiro[1] : atual.falso[1]}}</a></span>
                <span ng-switch-when="select">{{descricao(linha[atual.campo], atual)}}</span>
                <span ng-switch-default>{{linha[atual.campo]}}</span>
              </span>
            </td>
          </tr>
        </table>
      </div>
    </div>

    <!--MODAL DE EDICAO-->
    <section ng-include="'views/edicao.html'"></section>

    <!--MODAL DE IMPRESSAO-->
    <section ng-include="'views/impressao.html'"></section>

    <!--MODAL DE FILTROS-->
    <section ng-include="'views/filtros.html'"></section>
  </article>
</section>
