<section id="tela" class="container-fluid" ng-controller="genericController" ng-init="iniciar()">
  <article ng-if="carregado">

    <!--CAMPO BUSCA NO CELULAR-->
    <div id="busca-responsiva" ng-hide="!botoes.busca">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="{{model.busca.texto}}" ng-model="view.pesquisa" ng-change=listar()>
        <span class="input-group-btn">
          <button class="btn btn-default" type="button" ng-click="listar()">
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </span>
      </div>
    </div>

    <!--TITULO-->
    <div class="row hidden-xs">
      <div class="col-xs-7 col-sm-8 col-md-3 col-lg-4">
        <h4 class="titulo">{{model.titulo}}</h4>
      </div>

      <!--BOTOES NOVO E IMPRIMIR TELAS MENORES-->
      <div class="col-xs-5 col-sm-4 hidden-md hidden-lg text-right" ng-hide="!model.novo.ativo">
        <button class="btn btn-success" type="button" ng-click="editar(model.novo.objeto)">
          <span class="glyphicon glyphicon-plus"></span>
          &nbsp;{{model.novo.texto}}
        </button>
        <button class="btn btn-success" type="button" ng-hide="!model.imprimir.ativo" ng-click="imprimir()">
          <span class="glyphicon glyphicon-print"></span>
          &nbsp;{{model.imprimir.texto}}
        </button>
      </div>

      <!--CAMPO DE BUSCA-->
      <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5" ng-hide="!model.busca.ativo">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="{{model.busca.texto}}" ng-model="view.pesquisa" ng-change=listar()>
          <span class="input-group-btn">
            <button class="btn btn-default" type="button" ng-click="listar()">
              <span class="glyphicon glyphicon-search"></span>
              &nbsp;Procurar
            </button>
          </span>
        </div>
      </div>

      <!--BOTOES NOVO E IMPRIMIR TELAS GRANDES-->
      <div class="hidden-xs hidden-sm col-md-4 col-lg-3 text-right">
        <button class="btn btn-success" type="button" ng-hide="!model.novo.ativo" ng-click="editar(model.novo.objeto)">
          <span class="glyphicon glyphicon-plus"></span>
          &nbsp;{{model.novo.texto}}
        </button>
        <button class="btn btn-success" type="button" ng-hide="!model.imprimir.ativo" ng-click="imprimir()">
          <span class="glyphicon glyphicon-print"></span>
          &nbsp;{{model.imprimir.texto}}
        </button>
      </div>
    </div>
    <div class="row hidden-xs">
      <div class="col-xs-12">
        <hr />
      </div>
    </div>

    <!--TABELA DE REGISTROS-->
    <div class="row">
      <div class="col-md-12 table-responsive">
        <table class="table table-bordered table-striped table-hover">
          <tr>
            <th width="110" ng-if="model.editar || model.excluir">Ações</th>
            <th ng-repeat="atual in model.campos | filter:{listar:true}" ng-click="ordenar(atual.campo)">
              {{atual.nome}}
              <span ng-if="ordenacao.campo==atual.campo && ordenacao.ordem" class="glyphicon glyphicon-chevron-up"></span>
              <span ng-if="ordenacao.campo==atual.campo && !ordenacao.ordem" class="glyphicon glyphicon-chevron-down"></span>
            </th>
          </tr>
          <tr ng-repeat="linha in view.registros">
            <td align="center" ng-if="model.editar || model.excluir">
              <button class="btn btn-default" type="button" ng-click="excluir(linha[model.chave])" ng-if="model.excluir">
                <span class="glyphicon glyphicon-remove"></span>
              </button>
              <button class="btn btn-default" type="button" ng-click="editar(linha)" ng-if="model.editar">
                <span class="glyphicon glyphicon-pencil"></span>
              </button>
            </td>
            <td ng-repeat="atual in model.campos | filter:{listar:true}">
              <span ng-switch="atual.tipo">
                <span ng-switch-when="email"><a ng-href="mailto:{{linha[atual.campo]}}">{{linha[atual.campo]}}</a></span>
                <span ng-switch-when="date">{{linha[atual.campo] | date:atual.formato}}</span>
                <span ng-switch-when="datetime">{{linha[atual.campo] | date:atual.formato}}</span>
                <span ng-switch-when="checkbox">{{linha[atual.campo] == atual.verdadeiro[0]? atual.verdadeiro[1] : atual.falso[1]}}</a></span>
                <span ng-switch-when="select">{{linha[atual.campo][atual.descricao]}}</span>
                <span ng-switch-default>{{linha[atual.campo]}}</span>
              </span>
            </td>
          </tr>
        </table>
      </div>
    </div>

    <!--MODAL DE EDICAO-->
    <div id="modal-editar" class="modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <form ng-submit="salvar()">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <h4 class="modal-title">{{model.titulo_modal}}</h4>
            </div>
            <div class="modal-body">
              <span ng-if="model.abas.ativo">
                <ul class="nav nav-tabs" role="tablist">
                  <li ng-repeat="aba in model.abas.lista" role="presentation" ng-class="{'active' : $index==0}">
                    <a href="" data-target="#aba{{aba.id}}" role="tab" data-toggle="tab">{{aba.texto}}</a>
                  </li>
                </ul>
                <div class="tab-content">
                  <div ng-repeat="aba in model.abas.lista" id="aba{{aba.id}}" role="tabpanel" class="tab-pane" ng-class="{'active' : $index==0}">
                    <br>
                    <div ng-repeat="atual in model.campos | filter:{visivel:true, aba: aba.id}">
                      <span ng-include="'campos_modal'"></span>
                    </div>
                  </div>
                </div>
              </span>
              <span ng-if="!model.abas.ativo">
                <div ng-repeat="atual in model.campos | filter:{visivel:true}">
                  <span ng-include="'campos_modal'"></span>
                </div>
              </span>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-success">Salvar</button>
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!--TEMPLATE DE CAMPOS DA MODAL-->
    <script type="text/ng-template" id="campos_modal">
      <span ng-switch="atual.tipo">
        <div ng-switch-when="checkbox" class="checkbox">
          <label>
            <input type="checkbox" ng-model="view.selecionado[atual.campo]" ng-true-value="{{atual.verdadeiro[0]}}" ng-false-value="{{atual.falso[0]}}">&nbsp;{{atual.nome}}
          </label>
        </div>
        <div ng-switch-when="number" class="form-group">
          <label for="{{atual.campo}}">{{atual.nome}}</label>
          <input id="{{atual.campo}}" type="number" class="form-control" placeholder="{{atual.nome}}" ng-model="view.selecionado[atual.campo]" ng-required="atual.requerido" ng-readonly="!atual.editavel" step="{{atual.passos}}">
        </div>
        <div ng-switch-when="textarea" class="form-group">
          <label for="{{atual.campo}}">{{atual.nome}}</label>
          <textarea id="{{atual.campo}}" class="form-control" placeholder="{{atual.nome}}" ng-model="view.selecionado[atual.campo]" ng-required="atual.requerido" ng-readonly="!atual.editavel" rows="{{atual.linhas}}"></textarea>
        </div>
        <div ng-switch-when="select" class="form-group" ng-init="api(atual.url, 'GET', null, view, atual.lista)">
          <label for="{{atual.campo}}">{{atual.nome}}</label>
          <select id="{{atual.campo}}" class="form-control" ng-model="view.selecionado[atual.campo]" ng-required="atual.requerido" ng-disabled="!atual.editavel" ng-options="item as item[atual.descricao] for item in view[atual.lista] track by item.id">
            <option value="" disabled>Selecione</option>
          </select>
        </div>
        <div ng-switch-when="image">
          <label for="{{atual.campo}}">{{atual.nome}}</label>
          <div class="thumbnail text-center">
            <span ng-if="view.selecionado[atual.campo]==null">Nenhuma imagem selecionada</span>
            <img ng-if="view.selecionado[atual.campo]!=null" ng-src="{{view.selecionado[atual.campo]}}" alt="Imagem não encontrada" />
            <div class="caption">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Selecionar arquivo..." disabled="" ng-value="view[atual.arquivo].name">
                <div class="input-group-btn">
                  <button class="btn btn-default" type="button" ng-click="view[atual.arquivo]=undefined; view.selecionado[atual.campo]=null">
                    <span class="glyphicon glyphicon-remove"></span>
                  </button>
                  <label for="{{atual.campo}}" class="btn btn-default">
                    <span class="glyphicon glyphicon-folder-open"></span>
                  </label>
                </div>
              </div>
              <input id="{{atual.campo}}" type="file" ng-model="view[atual.arquivo]" style="display:none" onchange="upload(event)">
            </div>
          </div>
        </div>
        <div ng-switch-when="date">
          <label for="{{atual.campo}}">{{atual.nome}}</label>
          <span ng-if="atual.editavel">
            <input id="{{atual.campo}}" type="text" class="form-control" placeholder="DD/MM/AAAA" ng-model="view.selecionado[atual.campo]" ng-required="atual.requerido" ui-date-mask>
          </span>
          <span ng-if="!atual.editavel">
            <input id="{{atual.campo}}" type="text" class="form-control" placeholder="DD/MM/AAAA HH:MM:SS" ng-value="view.selecionado[atual.campo] | date:atual.formato" readonly="">
          </span>
        </div>
        <div ng-switch-when="datetime">
          <label for="{{atual.campo}}">{{atual.nome}}</label>
          <span ng-if="atual.editavel" class="form-inline">
            <input id="{{atual.campo}}" type="text" class="form-control" placeholder="DD/MM/AAAA" ng-model="view.selecionado[atual.campo]" ng-required="atual.requerido" ui-date-mask>
            <input id="{{atual.campo}}" type="text" class="form-control" placeholder="HH:MM:SS" ng-model="view.selecionado[atual.campo+'-hora']" ng-required="atual.requerido" ui-time-mask>
          </span>
          <span ng-if="!atual.editavel">
            <input id="{{atual.campo}}" type="text" class="form-control" placeholder="DD/MM/AAAA HH:MM:SS" ng-value="view.selecionado[atual.campo] | date:atual.formato" readonly="">
          </span>
        </div>
        <article ng-switch-when="table" class="table-responsive">
          <table class="table table-bordered table-striped table-hover">
            <tr align="center">
              <th ng-repeat="coluna in atual.colunas">{{coluna.nome}}</th>
            </tr>
            <tr ng-repeat="item in view.selecionado[atual.campo]">
              <td ng-repeat="coluna in atual.colunas">
                <span ng-switch="coluna.tipo">
                  <span ng-switch-when="checkbox">
                    <input type="checkbox" ng-model="item[coluna.campo]" ng-disabled="!coluna.editavel">
                  </span>
                  <span ng-switch-default>
                    <input type="text" class="form-control" ng-model="item[coluna.campo]" ng-hide="!coluna.editavel">
                    <span ng-hide="coluna.editavel">{{item[coluna.campo]}}</span>
                  </span>
                </span>
              </td>
            </tr>
          </table>
        </article>
        <div ng-switch-default class="form-group">
          <label for="{{atual.campo}}">{{atual.nome}}</label>
          <input id="{{atual.campo}}" type="{{atual.tipo}}" class="form-control" placeholder="{{atual.nome}}" ng-model="view.selecionado[atual.campo]" ng-required="atual.requerido" ng-readonly="!atual.editavel">
        </div>
      </span>
    </script>

    <!--MODAL DE IMPRESSAO-->
    <div id="modal-imprimir" class="modal fade" tabindex="-1" role="dialog" ng-if="model.imprimir.ativo">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <form ng-submit="imprimirOK()">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <h4 class="modal-title">{{model.imprimir.titulo}}</h4>
            </div>
            <div class="modal-body">
              <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active">
                  <a href="" data-target="#ordenacao" role="tab" data-toggle="tab">Ordenação</a>
                </li>
                <li role="presentation">
                  <a href="" data-target="#campos" role="tab" data-toggle="tab">Campos</a>
                </li>
              </ul>
              <div class="tab-content">
                <div id="ordenacao" role="tabpanel" class="tab-pane active">
                  <br>
                  <div class="form-group">
                    <label for="ordenar">Título:</label>
                    <input type="text" class="form-control" ng-model="view.relatorio.titulo" required="">
                  </div>
                  <div class="form-group">
                    <label for="ordenar">Ordenar por:</label>
                    <select id="ordenar" class="form-control" ng-model="view.relatorio.ordenar" required="" ng-options="campo.campo as campo.nome for campo in model.campos">
                      <option value="" disabled>Selecione</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="ordem">Ordem:</label>
                    <select id="ordem" class="form-control" ng-model="view.relatorio.ordem" required="">
                      <option value="asc">Crescente</option>
                      <option value="desc">Decrescente</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="ordem">Limite de registros:</label>
                    <input type="number" class="form-control" ng-model="view.relatorio.limite" required="" min="0">
                  </div>
                </div>
                <div id="campos" role="tabpanel" class="tab-pane">
                  <br>
                  <table class="table table-bordered table-striped table-hover">
                    <tr>
                      <th>Incluir</th>
                      <th>Nome exibido</th>
                    </tr>
                    <tr ng-repeat="item in view.relatorio.campos">
                      <td>
                        <input type="checkbox" ng-model="item.incluir">
                      </td>
                      <td>
                        <input type="text" class="form-control" ng-model="item.nome" required="">
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-success">OK</button>
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </article>
</section>
