<section class="container-fluid" ng-controller="genericController">
  <div class="row">
    <div class="col-md-4 col-lg-4">
        <h4>Solicitações</h4>
    </div>
    <div class="col-md-6 col-lg-6">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Pocurar por responsável ou local...">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button" ng-click="api('posts', 'GET', null, this, 'registros')">Procurar</button>
        </span>
      </div>
    </div>
    <div class="col-md-2 col-lg-2">
        <button class="btn btn-success" type="button">Nova Solicitação</button>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12 table-responsive">
      <table class="table table-hover">
        <tr>
          <th>#</th>
          <th>Solicitação</th>
          <th>Ponto/Tipo</th>
          <th>Local</th>
          <th>Responsável</th>
          <th>Data Solicitação</th>
          <th>Status</th>
        </tr>
        <tr ng-repeat="linha in registros">
          <td>{{linha.id}}</td>
          <td>{{linha.title}}</td>
          <td>{{linha.body}}</td>
          <td>Sala de Reuniões - Prédio 1</td>
          <td>João da Cruz</td>
          <td>19/08/2017 17:45</td>
          <td>Pendente</td>
        </tr>
      </table>
    </div>
  </div>
</section>
