<section class="container-fluid" ng-controller="genericController">
  <div class="row">
    <div class="hidden-xs col-sm-8 col-md-7 col-md-offset-1 col-lg-7 col-lg-offset-1 jumbotron">
      <div class="row">
        <div class="col-sm-3">
          <img src="img/logo.png" class="img-responsive" />
        </div>
        <div class="col-sm-9">
          <p>Abacate - Gerenciamento de pontos de rede</p>
          Com o sistema de gerenciamento de pontos de rede você pode:
          <ul>
            <li>Cadastrar pontos de rede</li>
            <li>Centralizar solicitações de alteração</li>
            <li>Manter histórico das solicitações</li>
            <li>Identificar rapidamente pontos pelo mapa interativo</li>
            <li>Cadastrar racks, ativos e dados sobre os pontos de rede</li>
            <li>E muito mais!</li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 text-right">
          <a class="btn btn-success btn-lg" href="solicitacao" role="button">Nova solicitação</a>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
      <div class="breadcrumb" ng-hide="esqueceuSenha">
        <form ng-submit="login()">
          <div class="form-group">
            <label for="usuario">Usuário</label>
            <input id="usuario" type="text" class="form-control" ng-model="login.usuario" placeholder="Usuário" required>
          </div>
          <div class="form-group">
            <label for="senha">Senha</label>
            <input id="senha" type="password" class="form-control" ng-model="login.senha" placeholder="Senha" required>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" ng-model="login.permanecerConectado">
              Permanecer conectado
            </label>
          </div>
          <div class="row">
            <div class="col-xs-4">
              <button type="submit" class="btn btn-success">Entrar</button>
            </div>
            <div class="col-xs-8 text-right">
              <a href="#" ng-click="esqueceuSenha=true">Esqueceu sua senha?</a>
            </div>
          </div>
        </form>
      </div>
      <div class="breadcrumb" ng-hide="!esqueceuSenha">
        <form ng-submit="enviarSenha()">
          <div class="form-group">
            <label for="usuario">Digite seu E-mail</label>
            <input id="usuario" type="text" class="form-control" placeholder="E-mail" required>
          </div>
          <div class="form-group">
            <div class="alert alert-success" role="alert" ng-hide="sucessoSenha==undefined">
              <span class="glyphicon glyphicon-ok"></span>&nbsp;
                Senha enviada com sucesso! Verifique seu e-mail.
            </div>
            <div class="alert alert-warning" role="alert" ng-hide="erroSenha==undefined" >
              <span class="glyphicon glyphicon-remove"></span>&nbsp;
              {{erroSenha}}
            </div>
          </div>
          <div class="row">
            <div class="col-xs-4">
              <button type="submit" class="btn btn-success">Enviar senha</button>
            </div>
            <div class="col-xs-8 text-right">
              <a href="#" ng-click="esqueceuSenha=false">Lembrei minha senha!</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
